*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,a{
    text-decoration: none;
    list-style: none;
}

body{
    font-style: 'Poppins', sans-serif;
    font-size: 16px;

    background-color: rgb(248, 240, 240);
}

header{
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #00203b;
}


header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-inline: 35px;
}


div#wrapper{
    display: flex;
    flex-direction: row;
}

nav{
    padding-inline: 35px;
    max-width: 15%;
    height: 100vh;

    color: #0B72CB;
    background-color: white;
}

nav ul{
    margin-top: 20px;
    font-size: 18px;
}

nav a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-block: 10px;

    padding: 5px;
    border-radius: 5px;
    color: #0B72CB;

    cursor: pointer;
}

nav a:hover{
    color: white;
    background-color: #00203b;
}

nav img{
    max-width: 24px;
    max-height: 24px;
}


div.box{
    padding-inline: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    margin-inline: 6px;
}

div.box img{
    max-width: 40px;
    max-height: 40px;
}

div.box div{
    margin-inline: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 90px;
    width: 200px;
    background-color: white;
    
}

div.box div h3{
    font-size: 12px;
    color: rgb(161, 159, 159);
}

div.box div h2{
    font-size: 14px;
}


div.box div.box-info div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

