*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,a{
    text-decoration: none;
    list-style: none;
}

body{
    font-style: 'Poppins', sans-serif;
    font-size: 16px;

    background-color: rgb(248, 240, 240);
}

header{
    height: 50px;
    width: 100vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #00203b;
}

/* HEADER */
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-inline: 35px;
}


div#wrapper{
    display: flex;
    flex-direction: row;
}

nav{
    padding-inline: 35px;
    max-width: 15%;
    height: 100vh;

    color: #0B72CB;
    background-color: white;
}

/* MENU NAV */ 

nav ul{
    margin-top: 20px;
    font-size: 18px;
}

nav a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-block: 10px;

    padding: 5px;
    border-radius: 5px;
    color: #0B72CB;

    cursor: pointer;
}

nav a:hover{
    color: white;
    background-color: #00203b;
}

nav img{
    max-width: 24px;
    max-height: 24px;
}

/* INDEX - DASHBOARD */ 

div.box{
    margin-top: 45px;
    margin-inline: 6px;
    padding-inline: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

div.box img{
    max-width: 40px;
    max-height: 40px;
}

div.box div{
    margin-inline: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 90px;
    width: 200px;
    background-color: white;
    
}

div.box div h3{
    font-size: 12px;
    color: rgb(161, 159, 159);
}

div.box div h2{
    font-size: 14px;
}


div.box div.box-info div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

/* CATEGORIES - ADD */

main div.add-view{
    display: flex;
}

main div.add, main div.view{
    margin-inline : 50px;
    margin-top: 30px;
    width: 350px;
    height: 245px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main div div.top{
    padding-inline: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30px;
    background-color: rgb(231, 226, 226);
}

main div div.ligne{
    width: 350px;
    height: 2px;
    background-color: #0B72CB;
    margin-bottom: 20px;
}

main div form {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 300px;
    margin-inline : 10px;
}

main div form input.texte{
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
}

main div form input#button{
    width: 100px;
    background-color: #0B72CB;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border-color: #0B72CB;
    cursor: pointer;
}


main table,th, tr,td {
    border: 1px solid black;
    border-collapse: collapse;

    background-color: white;
}

main th,td{
    padding: 5px;
}

main th{
    background-color: #0B72CB;
    color: white;
    font-weight: 700;
}
